<section id="event" class="container-fluid">   
  <div class="row">
    <h3>Event</h3>
    <div class="col-sm-9 well">
      <h3>
        <%= @event.title %>
      </h3>  
      <%= @event.description %>
    </div>
    <div class="col-sm-3">
    <div class="well">
      <%= event_time_tag(@event) %>
    </div>
    <div class="well">   
      <h3>Attendees</h3>
      <%= simple_form_for [@event @new_attend] do|f|%>
        <%= f.input :email , label: false, placeholder: "Enter your E-mail" %>
        <%= f.submit :"I Want to Attend" , class: "btn btn-primary btn-block"%>
      <% end %>
      <ul>
        <%= render @attends %>
      </ul>
    </div>
    </div>
  </div>  
</section>