<section id="event" class="container-fluid">   
  <div class="row">
    <h3>Event</h3>
    <div class="col-sm-9 well">Event Details
      <h3>
        <%= @event.title %>
      </h3>  
      <%= @event.description %>
    </div>
    <div class="col-sm-3">
    <div class="well">
      <% if @event.start_time.to_date == @event.end_time.to_date %> 
      <div class="common_date">
        <h3><%= @event.start_time.strftime("%b %-d, %Y")%></h3>
        <p>
          <%= @event.start_time.strftime("%l:%M %P")%> - <%= @event.end_time.strftime("%l:%M %P")%>
        </p>
      </div>
      <% else %>
       <h3><%= @event.start_time.strftime("%b %-d, %Y %l:%M %P")%></h3>
       <p> to  
       </p>
       <h3><%= @event.end_time.strftime("%b %-d, %Y %l:%M %P")%></h3>
      <% end %>
    </div>
    <div class="well"> 
      <h3>Bookings</h3>
      <input type="text-box">
      <button class="btn btn-primary btn-block">Attend</button>
      <h3>Attendees</h3>
    </div>
    </div>
  </div>  
</section>